@charset "utf-8";
/* Neethu-css*/
.Yard-box-out{
	border:1px solid #e7eaec;}
.Yard-text-align{ text-align:left !important;}
.form-horizontal .control-label{
   text-align:left !important;
   padding-top:3px; 
   padding-right:4px !important;
}
.yard-box-top-bg{
	border-bottom: 2px solid #0D6EC2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #1C84FE;
    background: #F1F1F1;
    border-top: none;
	}
.yard-box-margin-bottom{
	margin-bottom:-20px !important;}
.yard-top-bar{background-color:rgba(168, 175, 183, 0.2);width:100%;height:auto;padding: 15px 4px 56px 10px;border-top-right-radius: 5px;border-top-left-radius: 5px;margin-bottom: 10px;border-bottom:4px solid #d9dce2;}
.yard-padding{ padding:0px 4px 0px 3px !important;}
.disable-yard{ background:#FFF !important;}
.yard-icon{ padding-left:10px;}
.border-b-line{border-bottom: 1px solid #ddd !important; }
.border-t-line{border-top:1px solid #ddd !important;  }
.tab-inner-top-bg{border-bottom: 2px solid #f4f5f6; border-top-left-radius:1px;border-top-right-radius:1px;color:#1C84FE;background: #fbfcfc;border-top: none;}
.search-box-bg{background-color: #f5f5f5;border-radius:2px; border:1px solid #f5f5f5;}
.normal-box-title{ color: #1C84FE;background-color: #f8f8f9; border-bottom: 1px solid #1C84FE; border-top: none;
    border-top-left-radius: 3px; border-top-right-radius: 3px;}
.box-bg{box-shadow: 3px 3px 9px 2px #ddd;}
.upload-text{color:#1C84FE; padding-top: 8px;}
.top-bar-p{ padding:15px 18px 78px 10px !important;}
.sidebar-chat{ width:260px !important;}
.sidebar-content .wrapper, .wrapper.sidebar-content {
    padding-right: 268px !important;}
	.td-padding{ padding:2px !important; cursor:pointer}
	.table-hed{border-right:1px solid #dad8d8; text-align:center;}
.footer-butt{ padding-bottom:3%!important;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0px 5px 8px 1px #ccc;}
.table-col-bg{ background-color:#fff !important;}
.gallery-img-p{ padding:1% !important;}
.gallery-box{ width:208px !important;}
.top-button-m{ margin-top:0px;}
.line-solid{border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 2px;
    margin-bottom: 20px;
    height: 1px;}
<!--.form-control, .single-line{padding: 0px 1px !important;}-->
.open-small-chat{ background-color:#1c84c6 !important;}
.small-chat-box .content .chat-message.active{background: #1c84c6 !important; }
.form-control{ height:30px !important; padding:3px!important;}
.hr-line-dashed {
    margin: 15px 0px 18px 0px;}
label{ font-weight:normal;}
.form-textarea{     height: auto;
    resize: vertical;
	background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;}
    .date-font{ font-size: 11px !important;}
.m-t-md-1{ margin-top:25px;}
.boxme.ng-hide-add {
    -webkit-animation: rubberBand 0.8s;
    display: block!important;
}
.boxme.ng-hide-remove {
    /*-webkit-animation:  0.4s;*/
}
.table-bordered > thead > tr > td{
	background-color:#fff !important;}
.p-l-n{padding-left: 0px !important;}
.pie-diagram{  border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#f5f5f5;
    border-top: none;
    padding: 6px 1px 1px 1px;
	}
.dash-head{ font-size:19px !important;text-align:center;}
.top-bar-bg{    padding: 15px 5px 80px 10px !important;}
.cc-table{ background-color:#f4faff !important; }
.cc-r-table{background-color: #e8f5fd!important;}
.search-bg{padding: 3%;}
.diagram-bg{background: #fbfbfb !important;}
@media (max-width: 768px) {
.sidebar-chat { width:auto !important; }
.footer-butt{ padding-bottom:3%!important;}
.top-button-m{ margin-top:12% !important; }
}

